<h2 class="page-header">Se connecter</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Pseudo</label> <!-- ligne 2514-->
    <input type="text" class="form-control" name="username" placeholder="Pseudo">
  </div>
  <div class="form-group"><!-- couleur texte css/boostrap ligne 2639 -->
    <label>Mot de passe</label><!-- couleur FOND css/boostrap ligne 1925 -->
    <input type="password" class="form-control" name="password" placeholder="Mot de passe">
  </div>
  <button type="submit" class="btn btn-default">Valider</button>
</form><!-- couleur bouton CSS/Boostrap ligne 2426 et 2431 -->
